button.btn {
  margin-top: 30px;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background-color: #e83f5b;
  color: #f0f0f0;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  cursor: pointer;
  transition: filter 0.2s;
}

button.btn:hover {
  filter: brightness(0.8);
}
