.counter {
  position: relative;
  background-color: var(--clock-color);
  height: 350px;
  width: 350px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -25px -25px 50px 10px rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: filter 0.2s;
}

.counter:hover {
  filter: brightness(0.8);
}

.inner {
  display: flex;
  align-items: center;
  font-size: 70px;
  margin-bottom: 10px;
}

.inner div span:nth-child(1) {
  margin-right: 3px;
}

.inner > span {
  margin: 0 5px;
}

.counter p {
  font-size: 20px;
  text-indent: 12px;
  letter-spacing: 10px;
}

.counter::after {
  content: '';
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 10px solid var(--active-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
